.html {
    font-size: 62.5%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    min-height: 60vh;
}

.dd-margin{
    margin-right:50px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 400px;
}


.calculator-screen {
    width: 100%;
    height: 80px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    font-size: 4rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.calculator-op {
    width: 100%;
    height: 25px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-bottom: 4px;
    padding-right: 10px;
    font-size: 2rem;
}

button {
    height: 60px;
    font-size: 2rem !important;
}

.equal-sign {
    height: 98%;
    grid-area: 2 / 4 / 6 / 5;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.Gridview{
    display: inline-table;
}

.Gridview-Header{
    padding: 5px;
    text-align:center;
    color:deepskyblue;
}

.Gridview-item{
    text-align:center;
    padding:10px;
}



.user-info-modal{
    display:flex;
    position:absolute;
    width:100%;
    min-height:90vh;
    justify-content:center;
    text-align:center;
}

.user-info-modal-dialog {
    display: flex;
    flex-flow:column;
    justify-content:space-between;
    overflow:hidden;
    margin-top: 20px;
    width: 48%;
    height: fit-content;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.user-info-modal-header{
    margin-top:10px;
}

.user-info-modal-body {
    padding:35px 145px 30px 145px;
}

.user-info-modal-body-label{
    display:flex;
    justify-content:space-between;
    text-align:center;
}

.user-info-modal-footer {
    display:flow;
    float:right;
}

.user-btn{
    margin-left:30px;
    margin-right:30px;
    border:none;
    padding:5px 25px 5px 25px;
    border-radius:10px;
    margin-bottom: 15px;
}

.user-deactivate:hover{
    background-color:#ff3333;
}

.user-activate:hover {
    background-color: #39f949;
}

.user-delete:hover {
    background-color: #ff3333;
}

.user-close:hover {
    background-color: #58fbf9;
}


.messagealert{
    display:flex;
    flex-direction:column;
    padding-top:60px;
}

@media (max-width : 999px){
    .user-info-modal-dialog{
        height:fit-content;
        width:98%;
    }
    .user-info-modal-body {
        padding: 40px 25px 30px 25px;
    }
    .user-info-modal-header {
        margin-top: 30px;
    }
    .Gridview-div{
       overflow-x:auto;
       width:100%;
    }
    .Gridview-Header {
        padding: 2px;
        text-align: center;
        color: deepskyblue;
    }

    .Gridview-item {
        text-align: center;
        padding: 2px;
    }
}

.googleform{
    width:100%;
    height:1000px;
}

.text-red{
    color: red;
}

.card-text {
    height: 15vh;
    text-align: center;
    white-space:break-spaces;
    overflow:hidden;
}

.card-title{
    overflow:hidden;
    height:50px;
    white-space:break-spaces;
}

.card-names{
    display:block;
    text-align:left;
}

.container-fluid {
    width: auto !important;
    margin-left: 0 !important;
}
    /* Static CSS for styling the servies, about us , contact us */

.section{
    padding: 2rem;
    background-color: #f9f9f9;
    margin-top: 60px;
}



.headingh1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: red;
}

.p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 1.5rem;
}
h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.services-section {
    background-color: #f9f9f9;
    margin-top: 60px
}
.services-heading {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.services-features{
    display: inline-block;
    justify-content: space-between;
}
.blue{
    color:blue;
}